[user]
	name = Cyan
	email = 77025112+shadycyan@users.noreply.github.com
	signingkey = EBF736C28C516AC1
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.config/.gitignore_global
	editor = vim
[gpg]
	program = /opt/homebrew/bin/gpg
